permit :wheel
permit nopass root
{% if sysadmin_username is defined %}
permit nopass {{ sysadmin_username }} as root
{% endif %}
{% for item in doas_permit_list | default([]) %}
permit nopass {{ item.username }} as {{ item.role }}
{% endfor %}