# https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: "brenise.com"
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  args:
    user: synapse
    password: 
    database: synapse
    host: /var/run/postgresql
    cp_min: 0
    cp_max: 10
log_config: "/config/brenise.com.log.config"
media_store_path: /data/media_store
registration_shared_secret: 
report_stats: false
macaroon_secret_key: 
form_secret: 
signing_key_path: "/config/brenise.com.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"
suppress_key_server_warning: true
federation_domain_whitelist:
  - brenise.com
enable_registration: true
#enable_registration_without_verification: true
#registration_requires_token: false
email:
  smtp_host: mail.brenise.com
# smtp_port: 25
  force_tls: true
  smtp_user: synapse
  smtp_pass: 
  notif_from: noreply@brenise.com
url_preview_ip_range_blacklist:
  - '127.0.0.0/8'
  - '10.0.0.0/8'
  - '172.16.0.0/12'
  - '192.168.0.0/16'
  - '100.64.0.0/10'
  - '192.0.0.0/24'
  - '169.254.0.0/16'
  - '192.88.99.0/24'
  - '198.18.0.0/15'
  - '192.0.2.0/24'
  - '198.51.100.0/24'
  - '203.0.113.0/24'
  - '224.0.0.0/4'
  - '::1/128'
  - 'fe80::/10'
  - 'fc00::/7'
  - '2001:db8::/32'
  - 'ff00::/8'
  - 'fec0::/10'
enable_metrics: true

# vim:ft=yaml
