[Unit]
Description=Run oobabooga text-generation-webui

[Service]
WorkingDirectory=/home/blee/ai/text-generation-webui
#Environment="PATH=/home/blee/miniconda3/envs/textgen/bin"
ExecStart=/home/blee/bin/textgen-server.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
