CORE_RPC_HOST=192.168.0.42
CORE_RPC_PORT=8332
CORE_RPC_USERNAME=mempool
CORE_RPC_PASSWORD='{{ mempool_core_rpc_password }}'
DATABASE_ENABLED=true
DATABASE_HOST=192.168.0.42
DATABASE_DATABASE=mempool
DATABASE_USERNAME=mempool
DATABASE_PASSWORD='{{ mempool_db_password }}'
STATISTICS_ENABLED="true"
MEMPOOL_BACKEND=electrum
ELECTRUM_HOST=192.168.0.42
ELECTRUM_PORT=50001
ELECTRUM_TLS_ENABLED=false