# ~/src/samourai-dojo/docker/my-dojo/.env
NET_DOJO_MYSQL_IPV4='{{ samourai_mariadb_db }}'
# ~/src/samourai-dojo/docker/my-dojo/conf/docker-common.conf.tpl
COMMON_BTC_NETWORK=mainnet
# ~/src/samourai-dojo/docker/my-dojo/conf/docker-tor.conf.tpl
TOR_SOCKS_PORT=9050
# ~/src/samourai-dojo/docker/my-dojo/conf/docker-node.conf.tpl
NODE_API_KEY='{{ samourai_node_api_key }}'
NODE_ADMIN_KEY='{{ samourai_node_admin_key }}'
NODE_JWT_SECRET='{{ samourai_node_jwt_secret }}'
NODE_ACTIVE_INDEXER=local_indexer
NODE_FEE_TYPE=ECONOMICAL
# ~/src/samourai-dojo/docker/my-dojo/conf/docker-indexer.conf.tpl
INDEXER_IP=192.168.0.42
INDEXER_RPC_PORT=50001
# Not 100% sure electrs supports this? active | inactive
INDEXER_BATCH_SUPPORT=inactive
INDEXER_PROTOCOL=tcp
# ~/src/samourai-dojo/docker/my-dojo/conf/docker-bitcoind.conf.tpl
BITCOIND_RPC_USER='{{ bitcoind_rpc_user }}'
BITCOIND_RPC_PASSWORD='{{ bitcoind_rpc_password }}'
BITCOIND_IP=192.168.0.42
#BITCOIND_IP=host.docker.internal
BITCOIND_RPC_PORT=8332
BITCOIND_ZMQ_RAWTXS=28333
BITCOIND_ZMQ_BLK_HASH=28334
# ~/src/samourai-dojo/docker/my-dojo/conf/docker-mysql.conf.tpl
MYSQL_USER='{{ samourai_mariadb_user }}'
MYSQL_PASSWORD='{{ samourai_mariadb_password }}'
# Override the weird default name which includes a hyphen, thus requiring backticks to escape:
MYSQL_DATABASE=samourai
