# I doubt I'll ever use this but it's here to demonstrate how inelegant the process is.
[Unit]
Description=Lightning SSH tunnel
After=network.target

[Service]
User=lightning
# The -f flag on rm ensures the command does not fail if the file does not exist
ExecStartPre=ssh root@wartortle.satstack.net /bin/rm -f /var/run/lightning.sock
ExecStart=/usr/bin/ssh -nNT\
    -R /var/run/lightning.sock:/home/lightning/.lightning/bitcoin/lightning-rpc \
    root@wartortle.satstack.net \
    -o ExitOnForwardFailure=yes
ExecStartPost=ssh root@wartortle.satstack.net chmod 640 /var/run/lightning.sock
ExecStartPost=ssh root@wartortle.satstack.net chown :lnbits /var/run/lightning.sock
ExecStopPost=ssh root@wartortle.satstack.net /bin/rm -f /var/run/lightning.sock
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
