[Unit]
Description=LNbits
Wants=lightningd.service
After=lightningd.service

[Service]
User=lightning
Group=lightning
WorkingDirectory=/home/lightning/src/lnbits
ExecStart=/home/lightning/bin/run-lnbits.sh
Restart=always
TimeoutSec=120
RestartSec=30
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
