--- # prometheus.prometheus.alertmanager role variables
alertmanager_web_listen_address: "127.0.0.1:9093"
alertmanager_web_external_url: "https://{{ inventory_hostname }}/alertmanager/"

# The overlapping yaml templating requires us to use {% raw %} and {% endraw %}.
alertmanager_receivers:
  - name: ntfy
    webhook_configs:
      - url: "{{ ntfy_alertmanager_base_url }}/{{ ntfy_alertmanager_topic_name }}"

# https://prometheus.io/docs/alerting/latest/configuration/#route
alertmanager_route:
  group_by: [ 'instance']
  receiver: ntfy