--- # bleetube.ntfy and bleetube.ntfy-alertmanager role variables
#ntfy_base_url: "https://{{ inventory_hostname }}:4432"
ntfy_base_url: https://ntfy.satstack.cloud
ntfy_listen_http: "127.0.0.1:8032"
ntfy_alertmanager_base_url: "https://{{ inventory_hostname }}:4433"
ntfy_alertmanager_http_address: "127.0.0.1:8033"
#ntfy_web_root: /ntfy

# fix gantsign.golang bug
golang_download_dir: "{{ x_ansible_download_dir | default(ansible_env.HOME + '/.ansible/tmp/downloads') }}"